<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control 
	field="Nome">
	{$Nome_editcontrol}
	</control>
	<control 
	field="Numero">
	{$Numero_editcontrol}
	</control>
	<control 
	field="idt_custo">
	{$idt_custo_editcontrol}
	</control>
	<control 
	field="solicitante">
	{$solicitante_editcontrol}
	</control>
	<control 
	field="empresa">
	{$empresa_editcontrol}
	</control>
	<control 
	field="flg_show_mobile">
	{$flg_show_mobile_editcontrol}
	</control>
	<message status="{$status}">{$message}</message>
</edit_controls>
