<html {$html_attrs}>
<head><title>Pausas</title>
{BEGIN stylefiles_block}
<link REL="stylesheet" href="include/style.css" type="text/css">
<!--[if IE]>
<link REL="stylesheet" href="include/styleIE.css" type="text/css">
<![endif]-->
{END stylefiles_block}
{BEGIN style_block}
<style>
#height100{$id} {padding:10px;} 
#center_block{$id} {width:500px;margin:0 auto;}
#contents_block{$id} {text-align:center;}
#header_block{$id} {white-space:nowrap;height:31px;padding-top:5px;text-align:center;}
#main_block{$id} {padding:10px 0;text-align:center;}
#inmain_block{$id} {margin:0 10px}
#fields_block{$id} {width:100%}
#buttons_block{$id} {padding:7px 5px 2px;white-space:nowrap;}
#required_block{$id} {text-align:left;padding:5px}
#buttons_block{$id} > * {margin:0 2px}
#message_block{$id} {padding:7px 15px;}
a.pdf{float:left;}
</style>
{END style_block}
</head>
<body>
{BEGIN body}
{$header}
<div id="height100{$id}" align="center">

<table align=center id="center_block{$id}"><tr><td id="contents_block{$id}">
<b class="xtop"><b class="xb1b"></b><b class="xb2b"></b><b class="xb3b"></b><b class="xb4b"></b></b>
<div id="header_block{$id}" class="upeditmenu">
Pausas, Exibir Registro [
Idt Pausa Atend: {$show_key1}
]
</div>
<div class="xboxcontentb" id="message_block{$id}">
<br>
<table cellpadding=4 cellspacing=0 border=0 width=470>

{BEGIN idt_pausa_atend_fieldblock}
<tr>
    <td class=editshadeleft_b2 width=150 style="padding-left:15px;">Idt Pausa Atend</td>
    <td width=250 class=editshaderight_lb2 style="padding-left:10px;">
    {$idt_pausa_atend_value}&nbsp;
  </td></tr>
{END idt_pausa_atend_fieldblock}
{BEGIN dt_acao_pausa_fieldblock}
<tr>
    <td class=editshade_b width=150 style="padding-left:15px;">Dt Acao Pausa</td>
    <td width=250 class=editshade_lb style="padding-left:10px;">
    {$dt_acao_pausa_value}&nbsp;
  </td></tr>
{END dt_acao_pausa_fieldblock}
{BEGIN hr_acao_pausa_fieldblock}
<tr>
    <td class=editshade_b width=150 style="padding-left:15px;">Hr Acao Pausa</td>
    <td width=250 class=editshade_lb style="padding-left:10px;">
    {$hr_acao_pausa_value}&nbsp;
  </td></tr>
{END hr_acao_pausa_fieldblock}
{BEGIN tp_pausa_fieldblock}
<tr>
    <td class=editshade_b width=150 style="padding-left:15px;">Tp Pausa</td>
    <td width=250 class=editshade_lb style="padding-left:10px;">
    {$tp_pausa_value}&nbsp;
  </td></tr>
{END tp_pausa_fieldblock}
{BEGIN Agente_fieldblock}
<tr>
    <td class=editshade_b width=150 style="padding-left:15px;">Agente</td>
    <td width=250 class=editshade_lb style="padding-left:10px;">
    {$Agente_value}&nbsp;
  </td></tr>
{END Agente_fieldblock}
{BEGIN name_fieldblock}
<tr>
    <td class=editshade_b width=150 style="padding-left:15px;">Name</td>
    <td width=250 class=editshade_lb style="padding-left:10px;">
    {$name_value}&nbsp;
  </td></tr>
{END name_fieldblock}
{BEGIN Fila_fieldblock}
<tr>
    <td class=editshade_b width=150 style="padding-left:15px;">Fila</td>
    <td width=250 class=editshade_lb style="padding-left:10px;">
    {$Fila_value}&nbsp;
  </td></tr>
{END Fila_fieldblock}
{BEGIN tipo_pausa_fieldblock}
<tr>
    <td class=editshade_b width=150 style="padding-left:15px;">Tipo Pausa</td>
    <td width=250 class=editshade_lb style="padding-left:10px;">
    {$tipo_pausa_value}&nbsp;
  </td></tr>
{END tipo_pausa_fieldblock}
</table>

<div class="downedit2" id="buttons_block{$id}">
{BEGIN prev_button}
 <span class=buttonborder><input class=button type=reset value=" <<< " {$prevbutton_attrs}></span>
{END prev_button}
{BEGIN back_button}
 <span class=buttonborder><input class=button type=reset value="Voltar à Lista" {$backbutton_attrs}></span>
{END back_button}
{BEGIN next_button}
 <span class=buttonborder><input class=button type=reset value=" >>> " {$nextbutton_attrs} ></span>
{END next_button}
&nbsp;
</div>
<b class="xbottom"><b class="xb4a"></b><b class="xb3a"></b><b class="xb2a"></b><b class="xb1a"></b></b>
</div>
<b class="xbottom"><b class="xb4b4"></b><b class="xb3b4"></b><b class="xb2b4"></b><b class="xb1b4"></b></b>
</td></tr></table>
</div>

{BEGIN detail_tables}
{END detail_tables}
<br><br>
{$footer}
{END body}
</body>
</html>
