<html {$html_attrs}>
<head><title>Desvios Troncos</title>
<link REL="stylesheet" href="include/style.css" type="text/css">
<!--[if IE]>
<link REL="stylesheet" href="include/styleIE.css" type="text/css">
<![endif]-->
<style>
#center_block {width:500px;margin:0 auto;}
#contents_block{$id} {text-align:center;width:100%}
#header_block{$id} {width:100%;white-space:nowrap;height:31px;padding-top:5px;text-align:center}
#fields_block{$id} {width:100%}
#fields_block{$id} td {padding-left:10px}
#buttons_block{$id} {width:100%;padding-bottom:5px;text-align:center}
#required_block{$id} {text-align:left;padding:5px}
#span{$id} {margin:0 20px 0 20px;}
</style>
</head>

<body>
{BEGIN body}
{$header}
{BEGIN editForm}
<table align=center id="center_block{$id}" cellpadding=0 cellspacing=0><tr><td id="contents_block{$id}">
<div class="upeditmenu" id="header_block{$id}">
Desvios Troncos, Editar registro [
Id Desvio: {$show_key1}
]
</div>
{BEGIN message_block}
<DIV id="message_block{$id}" class="downedit">
{$message}
</div>
{END message_block}

<table cellpadding=4 cellspacing=0 border=0 id="fields_block{$id}">
{BEGIN ramal_fieldblock}
  <tr><td class="editshade_b" width=150 style="padding-left:3px 20px;">
{BEGIN ramal_label}Ramal{END ramal_label}
</td>
  <td width=250 class="editshade_lb" style="padding:3px 10px;">
    {$ramal_editcontrol}
  </td></tr>
{END ramal_fieldblock}
{BEGIN hr_inicio_fieldblock}
  <tr><td class="editshade_b" width=150 style="padding-left:3px 20px;">
{BEGIN hr_inicio_label}Hora Inicio{END hr_inicio_label}
</td>
  <td width=250 class="editshade_lb" style="padding:3px 10px;">
    {$hr_inicio_editcontrol}
  </td></tr>
{END hr_inicio_fieldblock}
{BEGIN hr_fim_fieldblock}
  <tr><td class="editshade_b" width=150 style="padding-left:3px 20px;">
{BEGIN hr_fim_label}Hora Fim{END hr_fim_label}
</td>
  <td width=250 class="editshade_lb" style="padding:3px 10px;">
    {$hr_fim_editcontrol}
  </td></tr>
{END hr_fim_fieldblock}
{BEGIN destino_fieldblock}
  <tr><td class="editshade_b" width=150 style="padding-left:3px 20px;">
{BEGIN destino_label}Destino{END destino_label}
</td>
  <td width=250 class="editshade_lb" style="padding:3px 10px;">
    {$destino_editcontrol}
  </td></tr>
{END destino_fieldblock}
{BEGIN seg_fieldblock}
  <tr><td class="editshade_b" width=150 style="padding-left:3px 20px;">
{BEGIN seg_label}Segunda Feira{END seg_label}
</td>
  <td width=250 class="editshade_lb" style="padding:3px 10px;">
    {$seg_editcontrol}
  </td></tr>
{END seg_fieldblock}
{BEGIN ter_fieldblock}
  <tr><td class="editshade_b" width=150 style="padding-left:3px 20px;">
{BEGIN ter_label}Terça Feira{END ter_label}
</td>
  <td width=250 class="editshade_lb" style="padding:3px 10px;">
    {$ter_editcontrol}
  </td></tr>
{END ter_fieldblock}
{BEGIN qua_fieldblock}
  <tr><td class="editshade_b" width=150 style="padding-left:3px 20px;">
{BEGIN qua_label}Quarta Feira{END qua_label}
</td>
  <td width=250 class="editshade_lb" style="padding:3px 10px;">
    {$qua_editcontrol}
  </td></tr>
{END qua_fieldblock}
{BEGIN qui_fieldblock}
  <tr><td class="editshade_b" width=150 style="padding-left:3px 20px;">
{BEGIN qui_label}Quinta Feira{END qui_label}
</td>
  <td width=250 class="editshade_lb" style="padding:3px 10px;">
    {$qui_editcontrol}
  </td></tr>
{END qui_fieldblock}
{BEGIN sex_fieldblock}
  <tr><td class="editshade_b" width=150 style="padding-left:3px 20px;">
{BEGIN sex_label}Sexta Feira{END sex_label}
</td>
  <td width=250 class="editshade_lb" style="padding:3px 10px;">
    {$sex_editcontrol}
  </td></tr>
{END sex_fieldblock}
{BEGIN sab_fieldblock}
  <tr><td class="editshade_b" width=150 style="padding-left:3px 20px;">
{BEGIN sab_label}Sabado{END sab_label}
</td>
  <td width=250 class="editshade_lb" style="padding:3px 10px;">
    {$sab_editcontrol}
  </td></tr>
{END sab_fieldblock}
{BEGIN dom_fieldblock}
  <tr><td class="editshade_b" width=150 style="padding-left:3px 20px;">
{BEGIN dom_label}Domingo{END dom_label}
</td>
  <td width=250 class="editshade_lb" style="padding:3px 10px;">
    {$dom_editcontrol}
  </td></tr>
{END dom_fieldblock}
</table>
<div class="main_table2" id="buttons_block{$id}">
{BEGIN legend}
<div id="required_block{$id}" class="toplist" ><img src="images/icon_required.gif" alt="bullet"> - Preenchimento Obrigatório</div>
{END legend}
{$legendBreak}
{BEGIN save_button}
 <span class="buttonborder"><input id="savebutton{$id}" class="button" type="submit" value="Salvar" {$savebutton_attrs}></span>
{END save_button}
{BEGIN reset_button}
 <span class="buttonborder"><input class="button" type="reset" value="Limpar" {$resetbutton_attrs}></span>
{END reset_button}
<span id="span{$id}">&nbsp;</span>
{BEGIN prev_button}
 <span class="buttonborder"><input id="prev{$id}" class="button" type="reset" value=" <<< " {$prevbutton_attrs}></span>
{END prev_button}
{BEGIN back_button}
 <span class="buttonborder"><input class="button" type="reset" value="Voltar à Lista" {$backbutton_attrs}></span>
{END back_button}
{BEGIN next_button}
 <span class="buttonborder"><input id="next{$id}" class="button" type="reset" value=" >>> " {$nextbutton_attrs}></span>
{END next_button}
</div>
</td></tr></table>
{END editForm}
{BEGIN detail_tables}
{END detail_tables}
<br><br>
{$footer}
{END body}
</body>
</html>
