<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control 
	field="padrao">
	{$padrao_editcontrol}
	</control>
	<control 
	field="contexto">
	{$contexto_editcontrol}
	</control>
	<control 
	field="rota">
	{$rota_editcontrol}
	</control>
	<control 
	field="id_interf_1">
	{$id_interf_1_editcontrol}
	</control>
	<control 
	field="add_rota_1">
	{$add_rota_1_editcontrol}
	</control>
	<control 
	field="id_interf_2">
	{$id_interf_2_editcontrol}
	</control>
	<control 
	field="add_rota_2">
	{$add_rota_2_editcontrol}
	</control>
	<message status="{$status}">{$message}</message>
</edit_controls>
