<html {$html_attrs}>
<head>
<title>Ramais: Busca Avancada</title>
<link REL="stylesheet" href="include/style.css" type="text/css">
<!--[if IE]>
<link REL="stylesheet" href="include/styleIE.css" type="text/css">
<![endif]-->
<style>
#center_block{$id} {margin:0 auto;}
#contents_block{$id} {text-align:center;width:100%}
#header_block{$id} {white-space:nowrap;height:31px;padding-top:5px;}
#main_block{$id} {padding:10px 0;width:100%}
#inmain_block{$id} {margin:0 10px}
#buttons_block{$id} {width:100%;padding:10px 0;}
#buttons_block{$id} > * {margin:0 2px}
#conditions_block{$id} {padding:5px;}
</style>
<!--[if IE]>
<style>
#main_block{$id} {padding:10px 10;}
#inmain_block{$id} {margin:0 0px}
</style>
<![endif]-->
</head>
<body bgcolor=white>
{BEGIN body}
{$header}
{BEGIN contents_block}
<table align=center id="center_block{$id}"><tr><td id="contents_block{$id}">
	
<b class="xtop"><b class="xb1b"></b><b class="xb2b"></b><b class="xb3b"></b><b class="xb4b"></b></b>
<div id="header_block{$id}" class="upeditmenu">Ramais - Busca Avancada</div>

<div class="main_table_border2">
<div class="main_table_border">

{BEGIN conditions_block}
<DIV id="conditions_block{$id}" class="loginshade">
<span class=fieldname>Buscar:</span>
<input type="radio" name="srchType" {$all_checkbox}>{BEGIN all_checkbox_label}Todas condições{END all_checkbox_label}
&nbsp;&nbsp;&nbsp;
<input type="radio" name="srchType" {$any_checkbox}>{BEGIN any_checkbox_label}Qualquer condição{END any_checkbox_label}
</div>
{END conditions_block}
<table cellpadding=4 cellspacing=0 border=0 id="fields_block{$id}">
<tr valign=center>
<td align=center valign=middle class="headerlist">&nbsp;</td>
<td width=30 align=center valign=middle class=headerlist>NOT</td>
<td align=center valign=middle class="headerlist">&nbsp; </td>
<td align=center valign=middle class="headerlist">&nbsp; </td>
<td align=center valign=middle class="headerlist" style="border-right:0px;">&nbsp;</td></tr>

{BEGIN id_conta_fieldblock}	
<tr>
	<td style="padding-left:15px;" class="editshade_b"><b>{BEGIN id_conta_label}Id Conta{END id_conta_label}</b>
	<td align=center style="padding-left:10px;" class="editshade_lb"><input type=checkbox {$id_conta_notbox}></td>
	
	<td style="padding-left:10px;" class="editshade_lb">
	{$searchtype_id_conta}
	</td>
	
	<td width=270 style="padding-left:10px;" class="editshade_lb">{$id_conta_editcontrol}&nbsp;</td>

	<td width=270 style="padding-left:10px;" class="editshade_lb">{$id_conta_editcontrol1}&nbsp;</td>
</tr>
{END id_conta_fieldblock}
{BEGIN idt_custo_fieldblock}	
<tr>
	<td style="padding-left:15px;" class="editshade_b"><b>{BEGIN idt_custo_label}Idt Custo{END idt_custo_label}</b>
	<td align=center style="padding-left:10px;" class="editshade_lb"><input type=checkbox {$idt_custo_notbox}></td>
	
	<td style="padding-left:10px;" class="editshade_lb">
	{$searchtype_idt_custo}
	</td>
	
	<td width=270 style="padding-left:10px;" class="editshade_lb">{$idt_custo_editcontrol}&nbsp;</td>

	<td width=270 style="padding-left:10px;" class="editshade_lb">{$idt_custo_editcontrol1}&nbsp;</td>
</tr>
{END idt_custo_fieldblock}
{BEGIN origem_fieldblock}	
<tr>
	<td style="padding-left:15px;" class="editshade_b"><b>{BEGIN origem_label}Origem{END origem_label}</b>
	<td align=center style="padding-left:10px;" class="editshade_lb"><input type=checkbox {$origem_notbox}></td>
	
	<td style="padding-left:10px;" class="editshade_lb">
	{$searchtype_origem}
	</td>
	
	<td width=270 style="padding-left:10px;" class="editshade_lb">{$origem_editcontrol}&nbsp;</td>

	<td width=270 style="padding-left:10px;" class="editshade_lb">{$origem_editcontrol1}&nbsp;</td>
</tr>
{END origem_fieldblock}
{BEGIN destino_fieldblock}	
<tr>
	<td style="padding-left:15px;" class="editshade_b"><b>{BEGIN destino_label}Destino{END destino_label}</b>
	<td align=center style="padding-left:10px;" class="editshade_lb"><input type=checkbox {$destino_notbox}></td>
	
	<td style="padding-left:10px;" class="editshade_lb">
	{$searchtype_destino}
	</td>
	
	<td width=270 style="padding-left:10px;" class="editshade_lb">{$destino_editcontrol}&nbsp;</td>

	<td width=270 style="padding-left:10px;" class="editshade_lb">{$destino_editcontrol1}&nbsp;</td>
</tr>
{END destino_fieldblock}
{BEGIN duracao_fieldblock}	
<tr>
	<td style="padding-left:15px;" class="editshade_b"><b>{BEGIN duracao_label}Duracao{END duracao_label}</b>
	<td align=center style="padding-left:10px;" class="editshade_lb"><input type=checkbox {$duracao_notbox}></td>
	
	<td style="padding-left:10px;" class="editshade_lb">
	{$searchtype_duracao}
	</td>
	
	<td width=270 style="padding-left:10px;" class="editshade_lb">{$duracao_editcontrol}&nbsp;</td>

	<td width=270 style="padding-left:10px;" class="editshade_lb">{$duracao_editcontrol1}&nbsp;</td>
</tr>
{END duracao_fieldblock}
{BEGIN custo_fieldblock}	
<tr>
	<td style="padding-left:15px;" class="editshade_b"><b>{BEGIN custo_label}Custo{END custo_label}</b>
	<td align=center style="padding-left:10px;" class="editshade_lb"><input type=checkbox {$custo_notbox}></td>
	
	<td style="padding-left:10px;" class="editshade_lb">
	{$searchtype_custo}
	</td>
	
	<td width=270 style="padding-left:10px;" class="editshade_lb">{$custo_editcontrol}&nbsp;</td>

	<td width=270 style="padding-left:10px;" class="editshade_lb">{$custo_editcontrol1}&nbsp;</td>
</tr>
{END custo_fieldblock}
{BEGIN calldate_fieldblock}	
<tr>
	<td style="padding-left:15px;" class="editshade_b"><b>{BEGIN calldate_label}Calldate{END calldate_label}</b>
	<td align=center style="padding-left:10px;" class="editshade_lb"><input type=checkbox {$calldate_notbox}></td>
	
	<td style="padding-left:10px;" class="editshade_lb">
	{$searchtype_calldate}
	</td>
	
	<td width=270 style="padding-left:10px;" class="editshade_lb">{$calldate_editcontrol}&nbsp;</td>

	<td width=270 style="padding-left:10px;" class="editshade_lb">{$calldate_editcontrol1}&nbsp;</td>
</tr>
{END calldate_fieldblock}
</table>

<div class="downedit" id="buttons_block{$id}">
{BEGIN search_button}
 <span class=buttonborder><input class=button type=button value="Buscar" {$searchbutton_attrs}></span>
{END search_button} 
{BEGIN reset_button}
 <span class=buttonborder><input class=button type=button value="Limpar" {$resetbutton_attrs}></span>
{END reset_button}
{BEGIN back_button}
 <span class=buttonborder><input class=button type=button value="Voltar à Lista" {$backbutton_attrs}></span>
{END back_button}
</div>
</div>
</div>
<b class="xbottom"><b class="xb4b"></b><b class="xb3b"></b><b class="xb2b"></b><b class="xb1b"></b></b>
</td></tr></table>
{END contents_block}
{$footer}
{END body}
</body>
</html>