<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control field="tp_ldap">
	{$tp_ldap_editcontrol}
	</control>
	<control field="flg_ativo">
	{$flg_ativo_editcontrol}
	</control>
	<control field="dsc_conf">
	{$dsc_conf_editcontrol}
	</control>
	<control field="port">
	{$port_editcontrol}
	</control>
	<control field="ip_server">
	{$ip_server_editcontrol}
	</control>
	<control field="ou_usuarios">
	{$ou_usuarios_editcontrol}
	</control>
	<control field="filtro">
	{$filtro_editcontrol}
	</control>
	<control field="ad_usuario">
	{$ad_usuario_editcontrol}
	</control>
	<control field="ad_senha">
	{$ad_senha_editcontrol}
	</control>
	<control field="ad_dominio">
	{$ad_dominio_editcontrol}
	</control>
	<control field="flg_padrao">
	{$flg_padrao_editcontrol}
	</control>
	<message>{$message}</message>
</edit_controls>