<b>Sip Users Additional: [{$showKeys}]</b><br>

<TABLE CELLPADDING=4 CELLSPACING=1 BORDER=0 style="width:20%;margin:5px 0;border: solid; border-width: 1px; border-color: #C0C0C0;" class="data">

<!-- header -->
<tr class="blackshade" valign="top">
<td>E-mail</td>
<td>Tronco piloto</td>
<td>Ramal transbordo</td>
<td>Ramal de Fax</td>
</tr>
<!-- data -->
<tr class="shade">
<td>
{$mail_mastervalue}
</td>
<td>
{$trc_piloto_mastervalue}
</td>
<td>
{$call_forward_mastervalue}
</td>
<td>
{$flg_fax_mastervalue}
</td>
</tr>
</table>




