<html {$html_attrs}>
<head>
<title>Cc Receptivo Filas Horario Desv Ramais: Busca Avancada</title>
<link REL="stylesheet" href="include/style.css" type="text/css">
<!--[if IE]>
<link REL="stylesheet" href="include/styleIE.css" type="text/css">
<![endif]-->
<style>
#center_block{$id} {margin:0 auto;}
#contents_block{$id} {text-align:center;}
#header_block{$id} {white-space:nowrap;height:31px;padding-top:5px;border-bottom:1px solid white;}
#main_block{$id} {padding:10px 10px;}
#buttons_block{$id} {padding:10px 0 5px 0;}
#buttons_block{$id} > * {margin:0 2px}
</style>
<!--[if IE]>
<style>
#main_block{$id} {padding:10px 10;}
#inmain_block{$id} {margin:0 0px}
</style>
<![endif]-->
</head>
<body bgcolor=white>
{BEGIN body}
{$header}
{BEGIN contents_block}
<table align=center id="center_block{$id}"><tr><td id="contents_block{$id}">
<b class="xtop"><b class="xb1b"></b><b class="xb2b"></b><b class="xb3b"></b><b class="xb4b"></b></b>
<div id="header_block{$id}" class="tableheader">Cc Receptivo Filas Horario Desv Ramais - Busca Avancada</div>
<div class="xboxcontentb" id="main_block{$id}">

{BEGIN conditions_block}
<DIV id="conditions_block{$id}">
<b class="xtop"><b class="xb1"></b><b class="xb2"></b><b class="xb3"></b><b class="xb4"></b></b>
<div class="xboxcontent" style="width:100%">
<span class=fieldname>Buscar:</span>
<input type="radio" name="srchType"" {$all_checkbox}>{BEGIN all_checkbox_label}Todas condições{END all_checkbox_label}
&nbsp;&nbsp;&nbsp;
<input type="radio" name="srchType" {$any_checkbox}>{BEGIN any_checkbox_label}Qualquer condição{END any_checkbox_label}
</div>
<b class="xbottom"><b class="xb4"></b><b class="xb3"></b><b class="xb2"></b><b class="xb1"></b></b>
<br>
</div>
{END conditions_block}

<table cellpadding=4 cellspacing=0 id="fields_block">
<tr valign=center>
<td align=center valign=middle class="headerlist_left">&nbsp;</td>
<td width=30 align=center valign=middle class="headerlist2">NOT</td>
<td align=center valign=middle class="headerlist">&nbsp; </td>
<td align=center valign=middle class="headerlist">&nbsp; </td>
<td align=center valign=middle class="headerlist_right">&nbsp;</td></tr>

{BEGIN txt_referencia_fieldblock}			
<tr>
	<td class=editshade_b style="padding-left:15px;padding-right:10px;"> Dia da semana
	<td align=center class=editshade_lb><input type=CheckBox {$txt_referencia_notbox}></td>
	<td class=editshade_lb style="padding-left:10px;">{$searchtype_txt_referencia}</td>
	<td width=270 class=editshade_lb style="padding-left:10px;">{$txt_referencia_editcontrol}&nbsp;</td>
	<td width=270 class=editshade_lb style="padding-left:10px;">{$txt_referencia_editcontrol1}&nbsp;</td>
</tr>
{END txt_referencia_fieldblock}	
{BEGIN hr_inicio_01_fieldblock}			
<tr>
	<td class=editshade_b style="padding-left:15px;padding-right:10px;"> Hora Início 01
	<td align=center class=editshade_lb><input type=CheckBox {$hr_inicio_01_notbox}></td>
	<td class=editshade_lb style="padding-left:10px;">{$searchtype_hr_inicio_01}</td>
	<td width=270 class=editshade_lb style="padding-left:10px;">{$hr_inicio_01_editcontrol}&nbsp;</td>
	<td width=270 class=editshade_lb style="padding-left:10px;">{$hr_inicio_01_editcontrol1}&nbsp;</td>
</tr>
{END hr_inicio_01_fieldblock}	
{BEGIN hr_fim_01_fieldblock}			
<tr>
	<td class=editshade_b style="padding-left:15px;padding-right:10px;"> Hora Fim 01
	<td align=center class=editshade_lb><input type=CheckBox {$hr_fim_01_notbox}></td>
	<td class=editshade_lb style="padding-left:10px;">{$searchtype_hr_fim_01}</td>
	<td width=270 class=editshade_lb style="padding-left:10px;">{$hr_fim_01_editcontrol}&nbsp;</td>
	<td width=270 class=editshade_lb style="padding-left:10px;">{$hr_fim_01_editcontrol1}&nbsp;</td>
</tr>
{END hr_fim_01_fieldblock}	
{BEGIN hr_inicio_02_fieldblock}			
<tr>
	<td class=editshade_b style="padding-left:15px;padding-right:10px;"> Hora Início 02
	<td align=center class=editshade_lb><input type=CheckBox {$hr_inicio_02_notbox}></td>
	<td class=editshade_lb style="padding-left:10px;">{$searchtype_hr_inicio_02}</td>
	<td width=270 class=editshade_lb style="padding-left:10px;">{$hr_inicio_02_editcontrol}&nbsp;</td>
	<td width=270 class=editshade_lb style="padding-left:10px;">{$hr_inicio_02_editcontrol1}&nbsp;</td>
</tr>
{END hr_inicio_02_fieldblock}	
{BEGIN hr_fim_02_fieldblock}			
<tr>
	<td class=editshade_b style="padding-left:15px;padding-right:10px;"> Hora Fim 02
	<td align=center class=editshade_lb><input type=CheckBox {$hr_fim_02_notbox}></td>
	<td class=editshade_lb style="padding-left:10px;">{$searchtype_hr_fim_02}</td>
	<td width=270 class=editshade_lb style="padding-left:10px;">{$hr_fim_02_editcontrol}&nbsp;</td>
	<td width=270 class=editshade_lb style="padding-left:10px;">{$hr_fim_02_editcontrol1}&nbsp;</td>
</tr>
{END hr_fim_02_fieldblock}	
{BEGIN hr_inicio_03_fieldblock}			
<tr>
	<td class=editshade_b style="padding-left:15px;padding-right:10px;"> Hora Início 03
	<td align=center class=editshade_lb><input type=CheckBox {$hr_inicio_03_notbox}></td>
	<td class=editshade_lb style="padding-left:10px;">{$searchtype_hr_inicio_03}</td>
	<td width=270 class=editshade_lb style="padding-left:10px;">{$hr_inicio_03_editcontrol}&nbsp;</td>
	<td width=270 class=editshade_lb style="padding-left:10px;">{$hr_inicio_03_editcontrol1}&nbsp;</td>
</tr>
{END hr_inicio_03_fieldblock}	
{BEGIN hr_fim_03_fieldblock}			
<tr>
	<td class=editshade_b style="padding-left:15px;padding-right:10px;"> Hora Fim 03
	<td align=center class=editshade_lb><input type=CheckBox {$hr_fim_03_notbox}></td>
	<td class=editshade_lb style="padding-left:10px;">{$searchtype_hr_fim_03}</td>
	<td width=270 class=editshade_lb style="padding-left:10px;">{$hr_fim_03_editcontrol}&nbsp;</td>
	<td width=270 class=editshade_lb style="padding-left:10px;">{$hr_fim_03_editcontrol1}&nbsp;</td>
</tr>
{END hr_fim_03_fieldblock}	
{BEGIN hr_inicio_04_fieldblock}			
<tr>
	<td class=editshade_b style="padding-left:15px;padding-right:10px;"> Hora Início 04
	<td align=center class=editshade_lb><input type=CheckBox {$hr_inicio_04_notbox}></td>
	<td class=editshade_lb style="padding-left:10px;">{$searchtype_hr_inicio_04}</td>
	<td width=270 class=editshade_lb style="padding-left:10px;">{$hr_inicio_04_editcontrol}&nbsp;</td>
	<td width=270 class=editshade_lb style="padding-left:10px;">{$hr_inicio_04_editcontrol1}&nbsp;</td>
</tr>
{END hr_inicio_04_fieldblock}	
{BEGIN hr_fim_04_fieldblock}			
<tr>
	<td class=editshade_b style="padding-left:15px;padding-right:10px;"> Hora Fim 04
	<td align=center class=editshade_lb><input type=CheckBox {$hr_fim_04_notbox}></td>
	<td class=editshade_lb style="padding-left:10px;">{$searchtype_hr_fim_04}</td>
	<td width=270 class=editshade_lb style="padding-left:10px;">{$hr_fim_04_editcontrol}&nbsp;</td>
	<td width=270 class=editshade_lb style="padding-left:10px;">{$hr_fim_04_editcontrol1}&nbsp;</td>
</tr>
{END hr_fim_04_fieldblock}	
</table>

<div class="downedit" id="buttons_block{$id}">
{BEGIN search_button}
 <span class=buttonborder><input class=button type=button value="Buscar" {$searchbutton_attrs}></span>
{END search_button} 
{BEGIN reset_button}
 <span class=buttonborder><input class=button type=button value="Limpar" {$resetbutton_attrs}></span>
{END reset_button}
{BEGIN back_button}
 <span class=buttonborder><input class=button type=button value="Voltar à Lista" {$backbutton_attrs}></span>
{END back_button}
</div>
<b class="xbottom"><b class="xb4a"></b><b class="xb3a"></b><b class="xb2a"></b><b class="xb1a"></b></b>
</div>
<b class="xbottom"><b class="xb4b4"></b><b class="xb3b4"></b><b class="xb2b4"></b><b class="xb1b4"></b></b>
</td></tr></table>
{END contents_block}
{$footer}
{END body}
</body>
</html>
