<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control 
	field="dt_acao_pausa">
	{$dt_acao_pausa_editcontrol}
	</control>
	<control 
	field="hr_acao_pausa">
	{$hr_acao_pausa_editcontrol}
	</control>
	<control 
	field="tp_pausa">
	{$tp_pausa_editcontrol}
	</control>
	<control 
	field="Agente">
	{$Agente_editcontrol}
	</control>
	<control 
	field="name">
	{$name_editcontrol}
	</control>
	<control 
	field="Fila">
	{$Fila_editcontrol}
	</control>
	<control 
	field="tipo_pausa">
	{$tipo_pausa_editcontrol}
	</control>
	<message status="{$status}">{$message}</message>
</edit_controls>
