<html {$html_attrs}>
<head>
<title>Interfaces IAX: Busca Avancada</title>
<link REL="stylesheet" href="include/style.css" type="text/css">
<!--[if IE]>
<link REL="stylesheet" href="include/styleIE.css" type="text/css">
<![endif]-->
<style>
#center_block{$id} {margin:0 auto;}
#contents_block{$id} {text-align:center;}
#header_block{$id} {white-space:nowrap;height:31px;padding-top:5px;border-bottom:1px solid white;}
#main_block{$id} {padding:10px 10px;}
#buttons_block{$id} {padding:10px 0 5px 0;}
#buttons_block{$id} > * {margin:0 2px}
</style>
<!--[if IE]>
<style>
#main_block{$id} {padding:10px 10;}
#inmain_block{$id} {margin:0 0px}
</style>
<![endif]-->
</head>
<body bgcolor=white>
{BEGIN body}
{$header}
{BEGIN contents_block}
<table align=center id="center_block{$id}"><tr><td id="contents_block{$id}">
<b class="xtop"><b class="xb1b"></b><b class="xb2b"></b><b class="xb3b"></b><b class="xb4b"></b></b>
<div id="header_block{$id}" class="tableheader">Interfaces IAX - Busca Avancada</div>
<div class="xboxcontentb" id="main_block{$id}">

{BEGIN conditions_block}
<DIV id="conditions_block{$id}">
<b class="xtop"><b class="xb1"></b><b class="xb2"></b><b class="xb3"></b><b class="xb4"></b></b>
<div class="xboxcontent" style="width:100%">
<span class=fieldname>Buscar:</span>
<input type="radio" name="srchType"" {$all_checkbox}>{BEGIN all_checkbox_label}Todas condições{END all_checkbox_label}
&nbsp;&nbsp;&nbsp;
<input type="radio" name="srchType" {$any_checkbox}>{BEGIN any_checkbox_label}Qualquer condição{END any_checkbox_label}
</div>
<b class="xbottom"><b class="xb4"></b><b class="xb3"></b><b class="xb2"></b><b class="xb1"></b></b>
<br>
</div>
{END conditions_block}

<table cellpadding=4 cellspacing=0 id="fields_block">
<tr valign=center>
<td align=center valign=middle class="headerlist_left">&nbsp;</td>
<td width=30 align=center valign=middle class="headerlist2">NOT</td>
<td align=center valign=middle class="headerlist">&nbsp; </td>
<td align=center valign=middle class="headerlist">&nbsp; </td>
<td align=center valign=middle class="headerlist_right">&nbsp;</td></tr>

{BEGIN id_interf_fieldblock}			
<tr>
	<td class=editshade_b style="padding-left:15px;padding-right:10px;">Identificação
	<td align=center class=editshade_lb><input type=CheckBox {$id_interf_notbox}></td>
	<td class=editshade_lb style="padding-left:10px;">{$searchtype_id_interf}</td>
	<td width=270 class=editshade_lb style="padding-left:10px;">{$id_interf_editcontrol}&nbsp;</td>
	<td width=270 class=editshade_lb style="padding-left:10px;">{$id_interf_editcontrol1}&nbsp;</td>
</tr>
{END id_interf_fieldblock}	
{BEGIN dsc_interf_fieldblock}			
<tr>
	<td class=editshade_b style="padding-left:15px;padding-right:10px;">Descrição da Interface
	<td align=center class=editshade_lb><input type=CheckBox {$dsc_interf_notbox}></td>
	<td class=editshade_lb style="padding-left:10px;">{$searchtype_dsc_interf}</td>
	<td width=270 class=editshade_lb style="padding-left:10px;">{$dsc_interf_editcontrol}&nbsp;</td>
	<td width=270 class=editshade_lb style="padding-left:10px;">{$dsc_interf_editcontrol1}&nbsp;</td>
</tr>
{END dsc_interf_fieldblock}	
{BEGIN id_contrato_fieldblock}			
<tr>
	<td class=editshade_b style="padding-left:15px;padding-right:10px;">Id Contrato
	<td align=center class=editshade_lb><input type=CheckBox {$id_contrato_notbox}></td>
	<td class=editshade_lb style="padding-left:10px;">{$searchtype_id_contrato}</td>
	<td width=270 class=editshade_lb style="padding-left:10px;">{$id_contrato_editcontrol}&nbsp;</td>
	<td width=270 class=editshade_lb style="padding-left:10px;">{$id_contrato_editcontrol1}&nbsp;</td>
</tr>
{END id_contrato_fieldblock}	
{BEGIN usuario_fieldblock}			
<tr>
	<td class=editshade_b style="padding-left:15px;padding-right:10px;">Usuario
	<td align=center class=editshade_lb><input type=CheckBox {$usuario_notbox}></td>
	<td class=editshade_lb style="padding-left:10px;">{$searchtype_usuario}</td>
	<td width=270 class=editshade_lb style="padding-left:10px;">{$usuario_editcontrol}&nbsp;</td>
	<td width=270 class=editshade_lb style="padding-left:10px;">{$usuario_editcontrol1}&nbsp;</td>
</tr>
{END usuario_fieldblock}	
{BEGIN senha_fieldblock}			
<tr>
	<td class=editshade_b style="padding-left:15px;padding-right:10px;">Senha
	<td align=center class=editshade_lb><input type=CheckBox {$senha_notbox}></td>
	<td class=editshade_lb style="padding-left:10px;">{$searchtype_senha}</td>
	<td width=270 class=editshade_lb style="padding-left:10px;">{$senha_editcontrol}&nbsp;</td>
	<td width=270 class=editshade_lb style="padding-left:10px;">{$senha_editcontrol1}&nbsp;</td>
</tr>
{END senha_fieldblock}	
{BEGIN ip_host_fieldblock}			
<tr>
	<td class=editshade_b style="padding-left:15px;padding-right:10px;">Ip Host
	<td align=center class=editshade_lb><input type=CheckBox {$ip_host_notbox}></td>
	<td class=editshade_lb style="padding-left:10px;">{$searchtype_ip_host}</td>
	<td width=270 class=editshade_lb style="padding-left:10px;">{$ip_host_editcontrol}&nbsp;</td>
	<td width=270 class=editshade_lb style="padding-left:10px;">{$ip_host_editcontrol1}&nbsp;</td>
</tr>
{END ip_host_fieldblock}	
{BEGIN id_central_fieldblock}			
<tr>
	<td class=editshade_b style="padding-left:15px;padding-right:10px;">Id Central
	<td align=center class=editshade_lb><input type=CheckBox {$id_central_notbox}></td>
	<td class=editshade_lb style="padding-left:10px;">{$searchtype_id_central}</td>
	<td width=270 class=editshade_lb style="padding-left:10px;">{$id_central_editcontrol}&nbsp;</td>
	<td width=270 class=editshade_lb style="padding-left:10px;">{$id_central_editcontrol1}&nbsp;</td>
</tr>
{END id_central_fieldblock}	
{BEGIN codec_fieldblock}			
<tr>
	<td class=editshade_b style="padding-left:15px;padding-right:10px;">Codec
	<td align=center class=editshade_lb><input type=CheckBox {$codec_notbox}></td>
	<td class=editshade_lb style="padding-left:10px;">{$searchtype_codec}</td>
	<td width=270 class=editshade_lb style="padding-left:10px;">{$codec_editcontrol}&nbsp;</td>
	<td width=270 class=editshade_lb style="padding-left:10px;">{$codec_editcontrol1}&nbsp;</td>
</tr>
{END codec_fieldblock}	
{BEGIN id_tp_interf_fieldblock}			
<tr>
	<td class=editshade_b style="padding-left:15px;padding-right:10px;">Tipo Interface
	<td align=center class=editshade_lb><input type=CheckBox {$id_tp_interf_notbox}></td>
	<td class=editshade_lb style="padding-left:10px;">{$searchtype_id_tp_interf}</td>
	<td width=270 class=editshade_lb style="padding-left:10px;">{$id_tp_interf_editcontrol}&nbsp;</td>
	<td width=270 class=editshade_lb style="padding-left:10px;">{$id_tp_interf_editcontrol1}&nbsp;</td>
</tr>
{END id_tp_interf_fieldblock}	
</table>

<div class="downedit" id="buttons_block{$id}">
{BEGIN search_button}
 <span class=buttonborder><input class=button type=button value="Buscar" {$searchbutton_attrs}></span>
{END search_button} 
{BEGIN reset_button}
 <span class=buttonborder><input class=button type=button value="Limpar" {$resetbutton_attrs}></span>
{END reset_button}
{BEGIN back_button}
 <span class=buttonborder><input class=button type=button value="Voltar à Lista" {$backbutton_attrs}></span>
{END back_button}
</div>
<b class="xbottom"><b class="xb4a"></b><b class="xb3a"></b><b class="xb2a"></b><b class="xb1a"></b></b>
</div>
<b class="xbottom"><b class="xb4b4"></b><b class="xb3b4"></b><b class="xb2b4"></b><b class="xb1b4"></b></b>
</td></tr></table>
{END contents_block}
{$footer}
{END body}
</body>
</html>
