<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control 
	field="id_pesquisa">
	{$id_pesquisa_editcontrol}
	</control>
	<control 
	field="nr_ordem">
	{$nr_ordem_editcontrol}
	</control>
	<control 
	field="dsc_mensagem">
	{$dsc_mensagem_editcontrol}
	</control>
	<control 
	field="arq_audio">
	{$arq_audio_editcontrol}
	</control>
	<control 
	field="opc_resp">
	{$opc_resp_editcontrol}
	</control>
	<control 
	field="ref0">
	{$ref0_editcontrol}
	</control>
	<control 
	field="ref1">
	{$ref1_editcontrol}
	</control>
	<control 
	field="ref2">
	{$ref2_editcontrol}
	</control>
	<control 
	field="ref3">
	{$ref3_editcontrol}
	</control>
	<control 
	field="ref4">
	{$ref4_editcontrol}
	</control>
	<control 
	field="ref5">
	{$ref5_editcontrol}
	</control>
	<control 
	field="ref6">
	{$ref6_editcontrol}
	</control>
	<control 
	field="ref7">
	{$ref7_editcontrol}
	</control>
	<control 
	field="ref8">
	{$ref8_editcontrol}
	</control>
	<control 
	field="ref9">
	{$ref9_editcontrol}
	</control>
	<message status="{$status}">{$message}</message>
</edit_controls>
