<b>Interfaces Vono: [{$showKeys}]</b><br>

<TABLE CELLPADDING=4 CELLSPACING=1 BORDER=0 style="width:20%;margin:5px 0;border: solid; border-width: 1px; border-color: #C0C0C0;" class="data">

<!-- header -->
<tr class="blackshade" valign="top">
<td>Identificação</td>
<td>Descrição da interface</td>
<td>Contrato</td>
<td>Usuário:</td>
<td>Senha:</td>
<td>Host:</td>
<td>Identificação Central</td>
<td>Codec</td>
</tr>
<!-- data -->
<tr class="shade">
<td>
{$id_interf_mastervalue}
</td>
<td>
{$dsc_interf_mastervalue}
</td>
<td>
{$id_contrato_mastervalue}
</td>
<td>
{$usuario_mastervalue}
</td>
<td>
{$senha_mastervalue}
</td>
<td>
{$ip_host_mastervalue}
</td>
<td>
{$id_central_mastervalue}
</td>
<td>
{$codec_mastervalue}
</td>
</tr>
</table>




