<html {$html_attrs}>
<head><title>Fila de atendimento</title>
<link REL="stylesheet" href="include/style.css" type="text/css">
<!--[if IE]>
<link REL="stylesheet" href="include/styleIE.css" type="text/css">
<![endif]-->
<style>
#center_block{$id} {width:500px;margin:0 auto;}
#contents_block{$id} {text-align:center;width:100%}
#header_block{$id} {width:100%;white-space:nowrap;height:35px;padding-top:5px;text-align:center;border-bottom:1px white solid;}
#fields_block{$id} {width:100%}
#fields_block{$id} td {padding-left:10px}
#buttons_block{$id} {width:100%;padding-bottom:5px;text-align:center}
#required_block{$id} {text-align:left;padding:5px}
#buttons_block{$id} > * {margin:0 2px;text-align:center}
#span{$id} {margin:0 20px 0 20px;}
</style>
</head>
<body>
{BEGIN body}
{$header}
{BEGIN editForm}
<table align=center id="center_block{$id}"><tr><td id="contents_block{$id}">
<b class="xtop"><b class="xb1b"></b><b class="xb2b"></b><b class="xb3b"></b><b class="xb4b"></b></b>
<div id="header_block{$id}" class="upeditmenu">
Fila de atendimento, Editar registro [
Nome: {$show_key1}
]
</div>

{BEGIN message_block}
<div class="downedit" id="message_block{$id}">{$message}</div>
{END message_block}

<table cellpadding=4 cellspacing=0 border=0 width=100%>
{BEGIN name_fieldblock}
<tr>
    <td class=editshadeleft_b2 width=150 style="padding-left:15px;">
{BEGIN name_label}Nome{END name_label}
</td>
    <td width=250 class=editshaderight_lb2 style="padding-left:10px;">
    {$name_editcontrol}
  </td></tr>
{END name_fieldblock}
{BEGIN musiconhold_fieldblock}
<tr>
    <td class=editshade_b width=150 style="padding-left:15px;">Conjunto de musicas</td>
    <td width=250 class=editshade_lb style="padding-left:10px;">
    {$musiconhold_editcontrol}
  </td></tr>
{END musiconhold_fieldblock}
{BEGIN announce_fieldblock}
<tr>
    <td class=editshade_b width=150 style="padding-left:15px;">Announce</td>
    <td width=250 class=editshade_lb style="padding-left:10px;">
    {$announce_editcontrol}
  </td></tr>
{END announce_fieldblock}
{BEGIN context_fieldblock}
<tr>
    <td class=editshade_b width=150 style="padding-left:15px;">Contexto</td>
    <td width=250 class=editshade_lb style="padding-left:10px;">
    {$context_editcontrol}
  </td></tr>
{END context_fieldblock}
{BEGIN timeout_fieldblock}
<tr>
    <td class=editshade_b width=150 style="padding-left:15px;">Timeout</td>
    <td width=250 class=editshade_lb style="padding-left:10px;">
    {$timeout_editcontrol}
  </td></tr>
{END timeout_fieldblock}
{BEGIN monitor_join_fieldblock}
<tr>
    <td class=editshade_b width=150 style="padding-left:15px;">Monitor Join</td>
    <td width=250 class=editshade_lb style="padding-left:10px;">
    {$monitor_join_editcontrol}
  </td></tr>
{END monitor_join_fieldblock}
{BEGIN monitor_format_fieldblock}
<tr>
    <td class=editshade_b width=150 style="padding-left:15px;">Monitor Format</td>
    <td width=250 class=editshade_lb style="padding-left:10px;">
    {$monitor_format_editcontrol}
  </td></tr>
{END monitor_format_fieldblock}
{BEGIN queue_youarenext_fieldblock}
<tr>
    <td class=editshade_b width=150 style="padding-left:15px;">Queue Youarenext</td>
    <td width=250 class=editshade_lb style="padding-left:10px;">
    {$queue_youarenext_editcontrol}
  </td></tr>
{END queue_youarenext_fieldblock}
{BEGIN queue_thereare_fieldblock}
<tr>
    <td class=editshade_b width=150 style="padding-left:15px;">Queue Thereare</td>
    <td width=250 class=editshade_lb style="padding-left:10px;">
    {$queue_thereare_editcontrol}
  </td></tr>
{END queue_thereare_fieldblock}
{BEGIN queue_callswaiting_fieldblock}
<tr>
    <td class=editshade_b width=150 style="padding-left:15px;">Queue Callswaiting</td>
    <td width=250 class=editshade_lb style="padding-left:10px;">
    {$queue_callswaiting_editcontrol}
  </td></tr>
{END queue_callswaiting_fieldblock}
{BEGIN queue_holdtime_fieldblock}
<tr>
    <td class=editshade_b width=150 style="padding-left:15px;">Queue Holdtime</td>
    <td width=250 class=editshade_lb style="padding-left:10px;">
    {$queue_holdtime_editcontrol}
  </td></tr>
{END queue_holdtime_fieldblock}
{BEGIN queue_minutes_fieldblock}
<tr>
    <td class=editshade_b width=150 style="padding-left:15px;">Queue Minutes</td>
    <td width=250 class=editshade_lb style="padding-left:10px;">
    {$queue_minutes_editcontrol}
  </td></tr>
{END queue_minutes_fieldblock}
{BEGIN queue_seconds_fieldblock}
<tr>
    <td class=editshade_b width=150 style="padding-left:15px;">Queue Seconds</td>
    <td width=250 class=editshade_lb style="padding-left:10px;">
    {$queue_seconds_editcontrol}
  </td></tr>
{END queue_seconds_fieldblock}
{BEGIN queue_lessthan_fieldblock}
<tr>
    <td class=editshade_b width=150 style="padding-left:15px;">Queue Lessthan</td>
    <td width=250 class=editshade_lb style="padding-left:10px;">
    {$queue_lessthan_editcontrol}
  </td></tr>
{END queue_lessthan_fieldblock}
{BEGIN queue_thankyou_fieldblock}
<tr>
    <td class=editshade_b width=150 style="padding-left:15px;">Queue Thankyou</td>
    <td width=250 class=editshade_lb style="padding-left:10px;">
    {$queue_thankyou_editcontrol}
  </td></tr>
{END queue_thankyou_fieldblock}
{BEGIN queue_reporthold_fieldblock}
<tr>
    <td class=editshade_b width=150 style="padding-left:15px;">Queue Reporthold</td>
    <td width=250 class=editshade_lb style="padding-left:10px;">
    {$queue_reporthold_editcontrol}
  </td></tr>
{END queue_reporthold_fieldblock}
{BEGIN announce_frequency_fieldblock}
<tr>
    <td class=editshade_b width=150 style="padding-left:15px;">Announce Frequency</td>
    <td width=250 class=editshade_lb style="padding-left:10px;">
    {$announce_frequency_editcontrol}
  </td></tr>
{END announce_frequency_fieldblock}
{BEGIN announce_round_seconds_fieldblock}
<tr>
    <td class=editshade_b width=150 style="padding-left:15px;">Announce Round Seconds</td>
    <td width=250 class=editshade_lb style="padding-left:10px;">
    {$announce_round_seconds_editcontrol}
  </td></tr>
{END announce_round_seconds_fieldblock}
{BEGIN announce_holdtime_fieldblock}
<tr>
    <td class=editshade_b width=150 style="padding-left:15px;">Announce Holdtime</td>
    <td width=250 class=editshade_lb style="padding-left:10px;">
    {$announce_holdtime_editcontrol}
  </td></tr>
{END announce_holdtime_fieldblock}
{BEGIN retry_fieldblock}
<tr>
    <td class=editshade_b width=150 style="padding-left:15px;">Retry</td>
    <td width=250 class=editshade_lb style="padding-left:10px;">
    {$retry_editcontrol}
  </td></tr>
{END retry_fieldblock}
{BEGIN wrapuptime_fieldblock}
<tr>
    <td class=editshade_b width=150 style="padding-left:15px;">Wrapuptime</td>
    <td width=250 class=editshade_lb style="padding-left:10px;">
    {$wrapuptime_editcontrol}
  </td></tr>
{END wrapuptime_fieldblock}
{BEGIN maxlen_fieldblock}
<tr>
    <td class=editshade_b width=150 style="padding-left:15px;">Maxlen</td>
    <td width=250 class=editshade_lb style="padding-left:10px;">
    {$maxlen_editcontrol}
  </td></tr>
{END maxlen_fieldblock}
{BEGIN servicelevel_fieldblock}
<tr>
    <td class=editshade_b width=150 style="padding-left:15px;">Servicelevel</td>
    <td width=250 class=editshade_lb style="padding-left:10px;">
    {$servicelevel_editcontrol}
  </td></tr>
{END servicelevel_fieldblock}
{BEGIN strategy_fieldblock}
<tr>
    <td class=editshade_b width=150 style="padding-left:15px;">Estratégia</td>
    <td width=250 class=editshade_lb style="padding-left:10px;">
    {$strategy_editcontrol}
  </td></tr>
{END strategy_fieldblock}
{BEGIN joinempty_fieldblock}
<tr>
    <td class=editshade_b width=150 style="padding-left:15px;">Joinempty</td>
    <td width=250 class=editshade_lb style="padding-left:10px;">
    {$joinempty_editcontrol}
  </td></tr>
{END joinempty_fieldblock}
{BEGIN leavewhenempty_fieldblock}
<tr>
    <td class=editshade_b width=150 style="padding-left:15px;">Leavewhenempty</td>
    <td width=250 class=editshade_lb style="padding-left:10px;">
    {$leavewhenempty_editcontrol}
  </td></tr>
{END leavewhenempty_fieldblock}
{BEGIN eventmemberstatus_fieldblock}
<tr>
    <td class=editshade_b width=150 style="padding-left:15px;">Eventmemberstatus</td>
    <td width=250 class=editshade_lb style="padding-left:10px;">
    {$eventmemberstatus_editcontrol}
  </td></tr>
{END eventmemberstatus_fieldblock}
{BEGIN eventwhencalled_fieldblock}
<tr>
    <td class=editshade_b width=150 style="padding-left:15px;">Eventwhencalled</td>
    <td width=250 class=editshade_lb style="padding-left:10px;">
    {$eventwhencalled_editcontrol}
  </td></tr>
{END eventwhencalled_fieldblock}
{BEGIN reportholdtime_fieldblock}
<tr>
    <td class=editshade_b width=150 style="padding-left:15px;">Reportholdtime</td>
    <td width=250 class=editshade_lb style="padding-left:10px;">
    {$reportholdtime_editcontrol}
  </td></tr>
{END reportholdtime_fieldblock}
{BEGIN memberdelay_fieldblock}
<tr>
    <td class=editshade_b width=150 style="padding-left:15px;">Memberdelay</td>
    <td width=250 class=editshade_lb style="padding-left:10px;">
    {$memberdelay_editcontrol}
  </td></tr>
{END memberdelay_fieldblock}
{BEGIN weight_fieldblock}
<tr>
    <td class=editshade_b width=150 style="padding-left:15px;">Weight</td>
    <td width=250 class=editshade_lb style="padding-left:10px;">
    {$weight_editcontrol}
  </td></tr>
{END weight_fieldblock}
{BEGIN timeoutrestart_fieldblock}
<tr>
    <td class=editshade_b width=150 style="padding-left:15px;">Timeoutrestart</td>
    <td width=250 class=editshade_lb style="padding-left:10px;">
    {$timeoutrestart_editcontrol}
  </td></tr>
{END timeoutrestart_fieldblock}
{BEGIN periodic_announce_fieldblock}
<tr>
    <td class=editshade_b width=150 style="padding-left:15px;">Periodic Announce</td>
    <td width=250 class=editshade_lb style="padding-left:10px;">
    {$periodic_announce_editcontrol}
  </td></tr>
{END periodic_announce_fieldblock}
{BEGIN periodic_announce_frequency_fieldblock}
<tr>
    <td class=editshade_b width=150 style="padding-left:15px;">Periodic Announce Frequency</td>
    <td width=250 class=editshade_lb style="padding-left:10px;">
    {$periodic_announce_frequency_editcontrol}
  </td></tr>
{END periodic_announce_frequency_fieldblock}
{BEGIN ringinuse_fieldblock}
<tr>
    <td class=editshade_b width=150 style="padding-left:15px;">Ringinuse</td>
    <td width=250 class=editshade_lb style="padding-left:10px;">
    {$ringinuse_editcontrol}
  </td></tr>
{END ringinuse_fieldblock}
{BEGIN setinterfacevar_fieldblock}
<tr>
    <td class=editshade_b width=150 style="padding-left:15px;">Setinterfacevar</td>
    <td width=250 class=editshade_lb style="padding-left:10px;">
    {$setinterfacevar_editcontrol}
  </td></tr>
{END setinterfacevar_fieldblock}
</table>

<div class="downedit2" id="buttons_block{$id}">
{BEGIN legend}
 <div id="required_block{$id}" ><img alt="bullet" src="images/icon_required.gif"> - Required field</div>
 {END legend}
 {$legendBreak}
{BEGIN save_button}
 <span class=buttonborder><input id="savebutton{$id}" class=button type=submit value="Salvar" {$savebutton_attrs}></span>
{END save_button} 
{BEGIN reset_button}
 <span class=buttonborder><input class=button type=reset value="Limpar" {$resetbutton_attrs}></span>
{END reset_button}
<span id="span{$id}">&nbsp;</span>
{BEGIN prev_button}
 <span class=buttonborder><input id="prev{$id}" class=button type=reset value=" <<< " {$prevbutton_attrs}></span>
{END prev_button}
{BEGIN back_button}
 <span class=buttonborder><input class=button type=button value="Voltar à Lista" {$backbutton_attrs}></span>
{END back_button}
{BEGIN next_button}
 <span class=buttonborder><input id="next{$id}" class=button type=reset value=" >>> " {$nextbutton_attrs}></span>
{END next_button}
</div>
<b class="xbottom"><b class="xb4a"></b><b class="xb3a"></b><b class="xb2a"></b><b class="xb1a"></b></b>
 </td></tr></table>
{END editForm}
 {BEGIN detail_tables}
{END detail_tables}
 <br><br>
{$footer}
{END body}
</body>
</html>
